adal==1.2.7
applicationinsights==0.11.10
azure-common==1.1.27
azure-core==1.14.0
azure-graphrbac==0.61.1
azure-identity==1.4.1
azure-mgmt-authorization==0.61.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-keyvault==2.2.0
azure-mgmt-resource==13.0.0
azure-mgmt-storage==11.2.0
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
azure-storage-file==2.1.0
azureml-automl-core==1.23.0
azureml-contrib-k8s==0.1.15
azureml-core==1.23.0
azureml-dataprep==2.10.3
azureml-dataprep-native==30.0.0
azureml-dataprep-rslex==1.8.2
azureml-dataset-runtime==1.23.0
azureml-k8s-mt==1.0.2
azureml-pipeline-core==1.23.0
azureml-pipeline-steps==1.23.0
azureml-telemetry==1.23.0
azureml-train-automl-client==1.23.0.post1
azureml-train-core==1.23.0
azureml-train-restclients-hyperdrive==1.23.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.3
bitstring==3.1.7
blobxfer==1.9.4
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
Click==7.0
click-completion==0.5.2
click-option-group==0.5.3
click-plugins==1.1.1
cloudpickle==1.6.0
colorlog==5.0.1
contextlib2==0.6.0.post1
cryptography==3.3.2
dataclasses==0.8
distro==1.5.0
docker==5.0.0
dotnetcore2==2.1.20
ecdsa==0.16.1
filelock==3.0.12
flake8==3.8.4
Flask==1.1.4
Flask-Cors==3.0.10
Flask-Executor==0.9.4
Flask-FontAwesome==0.1.5
future==0.18.2
gitdb==4.0.7
GitPython==3.1.17
higher==0.2.1
huggingface-hub==0.0.8
humanize==3.5.0
idna==2.8
importlib-metadata==3.3.0
importlib-resources==5.1.3
isodate==0.6.0
itsdangerous==1.1.0
jeepney==0.6.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.0
jsonpickle==2.0.0
Mako==1.1.4
MarkupSafe==2.0.1
marshmallow==3.5.0
mccabe==0.6.1
msal==1.12.0
msal-extensions==0.2.2
msrest==0.6.19
msrestazure==0.6.4
ndg-httpsclient==0.5.1
nltk==3.5
ntlm-auth==1.5.0
numpy==1.19.4
oauthlib==3.1.0
packaging==20.8
pandas==1.1.5
passpy==1.0.2
pathspec==0.8.1
petname==2.6
phillytools==7.4.1
portalocker==1.7.1
progress==1.5
prompt-toolkit==3.0.18
protobuf==3.14.0
pyarrow==1.0.1
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.2
python-dateutil==2.8.1
python-gnupg==0.4.7
pytz==2020.5
PyYAML==5.4.1
regex==2020.11.13
requests==2.22.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
sacremoses==0.0.43
scikit-learn==0.24.0
scipy==1.5.4
SecretStorage==3.3.1
sentence-transformers==0.4.0
sentencepiece==0.1.94
shellingham==1.4.0
six==1.15.0
smmap==4.0.0
soupsieve==2.2.1
sshpubkeys==3.3.1
tabulate==0.8.9
threadpoolctl==2.1.0
tokenizers==0.10.2
torch==1.6.0
tqdm==4.48.2
transformers @ git+https://github.com/huggingface/transformers@f4a0d6ff867e8a82a33d7a653e7d45372a463271
typing-extensions==3.7.4.3
urllib3==1.25.11
wcwidth==0.2.5
websocket-client==1.0.0
Werkzeug==1.0.1
xdg==5.0.2
zipp==3.4.0
